.header{
    display: flex;
    justify-content: space-evenly;
    margin: 0 15rem;
}
.header p{
    margin-top: 3rem;
    font-size: 2.2rem;
}
.header img{
    width: 18.4rem;
    height: 10.4rem;
}
.body .Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin-top: 7rem;
    top: 21.7rem;
}
.body .Title>p{
    font-size: 2.4rem;
    color: #C6754D;
    font-weight: 400;
}
.body .Title-main{
    font-size: 10.1rem;
    color: var(--secondary-colo);
    margin: -3rem 0;
}
.body img{
    margin-bottom: 5rem;
}
.text{
    height: 64.5rem;
    background-color: #C6754D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 0 10rem;
    color: #FCF9F7;
    font-weight: 400;

}
.image_oblique{
    height: 59.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;

}
.image_oblique_text{
    display: flex;
    flex-direction: column;
    width: 53.9rem;
    height: 29.9rem;
    margin-bottom: 13rem;
}
.image_oblique_image{
    position: relative;
    width: 40rem;
    height: 40rem;
}
.image_oblique_image img{
    position: absolute;
    width: 100%;
}
.img_1{
    z-index: 1;
   transform: rotate(4deg);
}
.img_2{
    z-index: 2;
    transform: rotate(-4deg);
}
.img_3{
    z-index: 3;
}
.tri{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6.4rem;
    height: 47.5rem;
    margin-left: 10rem;
}
.tri-hotel{
    width: 38.4rem;
     height: 28.3rem;
}
.pall{
    color: var(--secondary-colo);
    font-size: 4.3rem;
}
.tri>p{
    color: var(--secondary-colo);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 160%;
    height: 11.6rem;
    width: 38.4rem;
}
.tri-boton{
    border: 1px solid var(--primary-color);
    width: 3rem;
    padding: 1.8rem 2.6rem 1.8rem 2.6rem;
}
.profil{
    height: 56.8rem;
}


{}