.header{
    display: flex;
    justify-content: space-evenly;
    margin: 0 15rem;
}
.header p{
    margin-top: 3rem;
    font-size: 2.2rem;
}
.header img{
    width: 18.4rem;
    height: 10.4rem;
}
.body .Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    margin-top: 7rem;
    top: 21.7rem;
}
.body .Title>p{
    font-size:  var(--font-size);;
    color: #C6754D;
    font-weight: var(--font-weight);
}
.body .Title-main{
    font-size: 10.1rem;
    color: var(--secondary-colo);
    margin: -3rem 0;
}
.body img{
    margin-bottom: 5rem;
}
.text{
    height: 64.5rem;
    background-color: #C6754D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 0 10rem;
    color: #FCF9F7;
    font-weight: var(--font-weight);

}
.image_oblique{
    height: 59.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;

}
.image_oblique_text{
    display: flex;
    flex-direction: column;
    width: 53.9rem;
    height: 29.9rem;
    margin-bottom: 13rem;
}
.image_oblique_image{
    position: relative;
    width: 40rem;
    height: 40rem;
}
.image_oblique_image img{
    position: absolute;
    width: 100%;
}
.img_1{
    z-index: 1;
   transform: rotate(4deg);
}
.img_2{
    z-index: 2;
    transform: rotate(-4deg);
}
.img_3{
    z-index: 3;
}
.tri{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--gap);
    height: 47.5rem;
    margin-left: 10rem;
}
.tri-hotel{
    width: 38.4rem;
     height: 28.3rem;
}
.pall{
    color: var(--secondary-colo);
    font-size: 4.3rem;
}
.tri>p{
    color: var(--secondary-colo);
    font-size:  var(--font-size2);;
    font-weight: var(--font-weight);
    line-height:  var(--line-height2);
    height: 11.6rem;
    width: 38.4rem;
}
.tri-boton{
    border: 1px solid var(--primary-color);
    width: 3rem;
    padding: 1.8rem 2.6rem 1.8rem 2.6rem;
}
.profil{
    height: 56.8rem;
    padding: 9.8rem 8rem 9.8rem 8rem;
    display: flex;
    gap: 8.4rem;
    flex-direction: column;
}
.profil-profils{
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}
.profil-profil-profil{
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    height: 25.6rem;
    width: 108.5rem;
}
.itynary{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94rem;
    padding: 96px 80px 96px 80px;
    gap: var(--gap);
}
.itynary-day{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 2.3rem;
    width: 128rem;
    gap: var(--gap);
}
.itynary-day p:nth-of-type(1){
    color: var(--secondary-colo);
    line-height:  var(--line-height);
    font-size:  var(--font-size2);;
    font-weight: var(--font-weight);
    width: 10.7rem;
    height: 1.8rem;
}
.itynary-day p:nth-child(n+2){
    width: 13rem;
    height: 1.8rem;
    opacity: 60%;
    font-weight: var(--font-weight);
    color: var(--secondary-colo);
    font-size:  var(--font-size2);;
    line-height:  var(--line-height);
}
.s10am{
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: var(--gap);
}
.s10am>p{
    width: 18.4rem;
    height: 2.4rem;
    color: var(--primary-color);
    font-size:  var(--font-size);;
    font-weight: var(--font-weight);
    line-height: var(--line-height);
}
.s10am-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    width: 640px;
}
.s10am-text>p{
    width: 13.5rem;
    height: 3.2rem;
    font-size: 3.2rem;
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: var(--secondary-colo);
}
.s10am-text p:nth-child(2){
    width: 84rem;
    height: 8.7rem;
    opacity: 70%;
    font-size: var(--font-size2);
    line-height: var(--line-height2);
    font-weight: var(--font-weight);
    color: var(--secondary-colo);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 9.6rem 8rem 9.6rem 8rem;
    gap: var(--gap);
}
.form-titel{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 6.4rem;
}
.form-titel p:nth-of-type(1){
    color: var(--secondary-colo);
    font-weight: var(--font-weight);
    font-size: 5.6rem;
    line-height: var(--line-height);
}
{}