@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

html{
    font-size: 10px;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var('Montaga', serif);
}

:root{
    --primary-color: #C6754D;
    --secondary-colo: #2B1105;
    --font-familly: 'Montaga', serif;
    --font-weight: 400;
    --line-height:  100%;
    --font-size: 2.4rem;
    --font-size2: 1.8rem;
    --line-height2: 160%;
    --gap: 6.4rem;
    --gap32px: 3.2rem;

}
