@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

html{
    font-size: 10px;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #C6754D;
    --secondary-colo: #2B1105;

}
